<ion-header>
  <ion-toolbar>
    <ion-title>Gestiona tu mente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido-centrado">
    <img src="assets/imagenes/logo.png" alt="Logo" class="img-centrada" onerror="this.src='https://ionicframework.com/docs/img/demos/logo.svg'" />
    <div class="botones-contenedor">
      <ion-button expand="block" color="primary" (click)="irARegistro1()">Registrate</ion-button>
      <ion-button expand="block" color="primary" (click)="irALogin()">ingresa</ion-button>
    </div>
  </div>
</ion-content>
