<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button class="icono-dorado"></ion-menu-button>
      </ion-buttons>
      <ion-title class="titulo-dorado">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        Configuración
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding fondo-blanco">
    <ion-card class="tarjeta-config">
      <ion-card-header>
        <ion-card-title class="titulo-dorado">Opciones</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="block" color="warning" fill="outline" (click)="solicitarPermisoUbicacion()">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          Permitir ubicación
        </ion-button>

        <ion-button expand="block" color="warning" fill="outline" (click)="solicitarNotificaciones()">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          Permitir notificaciones
        </ion-button>

        <ion-button expand="block" color="warning" fill="outline" (click)="usarDispositivo()">
          <ion-icon name="hardware-chip-outline" slot="start"></ion-icon>
          Acceder a funcionalidades
        </ion-button>

        <ion-button expand="block" color="dark" (click)="volverACalendario()">
          <ion-icon name="calendar" slot="start"></ion-icon>
          <span class="texto-dorado">Volver al Calendario</span>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
