.contenido-centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  ion-item {
    width: 80%;
    max-width: 350px;
    margin-bottom: 12px;
  }

  ion-button {
    --background: #007bff;
    --color: white;
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
  }

  ion-button[color="medium"] {
    --background: #6c757d;
  }
}
