<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario de registro -->
  <form [formGroup]="registroForm" (ngSubmit)="registrar()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" formControlName="usuario"></ion-input>
    </ion-item>
    <div *ngIf="registroForm.get('usuario')?.invalid && (registroForm.get('usuario')?.touched || registroForm.get('usuario')?.dirty)" class="error-message">
      <ion-text color="danger" *ngIf="registroForm.get('usuario')?.errors?.['required']">El usuario es obligatorio.</ion-text>
      <ion-text color="danger" *ngIf="registroForm.get('usuario')?.errors?.['minlength']">Mínimo 3 caracteres.</ion-text>
      <ion-text color="danger" *ngIf="registroForm.get('usuario')?.errors?.['maxlength']">Máximo 8 caracteres.</ion-text>
      <ion-text color="danger" *ngIf="registroForm.get('usuario')?.errors?.['pattern']">Solo letras y números.</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="registroForm.get('password')?.invalid && (registroForm.get('password')?.touched || registroForm.get('password')?.dirty)" class="error-message">
      <ion-text color="danger" *ngIf="registroForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</ion-text>
      <ion-text color="danger" *ngIf="registroForm.get('password')?.errors?.['pattern']">Debe ser 4 dígitos numéricos.</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmarPassword"></ion-input>
    </ion-item>
    <div *ngIf="registroForm.get('confirmarPassword')?.invalid && (registroForm.get('confirmarPassword')?.touched || registroForm.get('confirmarPassword')?.dirty)" class="error-message">
      <ion-text color="danger" *ngIf="registroForm.get('confirmarPassword')?.errors?.['required']">Debes confirmar la contraseña.</ion-text>
      <ion-text color="danger" *ngIf="registroForm.hasError('passwordMismatch')">Las contraseñas no coinciden.</ion-text>
    </div>

    <ion-button expand="full" type="submit" [disabled]="registroForm.invalid">Registrar</ion-button>
  </form>
</ion-content>
